body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    display:flex;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid-item:hover {
    background-color: grey;
}

h1{
    font-size: large;
    margin: 2px;
}
h2{
    font-size: medium;
    margin: 2px;
}